.container {
margin: 20px 0;
}

.card {
    margin: 0 1% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.links {
    border-bottom: 10px solid rgba(0, 158, 197, 0.5);
}

.btnMyGov{
    height: 30px;    
    margin-right: 5px !important;
    width: 95px;
}

.btnGrid{
    margin-top: 10px !important;
}
@media only screen and (max-width: 770px) {
    .card{
      margin: 2% 0 !important;
    }
  }